.waves{
	position: relative;
	overflow: hidden;
}
.waves::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
.waves .wave{
	display: block;
	width: 100px;
	height: 100px;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.2;
	animation: expand 0.2s linear;
	border-radius: 50%;
	transition: opacity 0.3s;
}
.waves.white .wave{
	background: #fff;
}
@keyframes expand{
	from {
		transform: scale(0);
	} to {
		transform: scaleY(1);
	}
}